

.logo {
  max-height: 50px;
  animation: bounce 2s infinite;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #d4edda;
  transition: all 0.3s ease;
}
.nav-link:hover::before {
  width: 100%;
  left: 0;
}
/* text styling */
.text-primary{
  color: #198654;
}
.text-primary:hover{
  color: #c2ccc8;
}
/* Primary text color */
.text-secondary {
  color: #c2ccc8; /* Soft gray-green for eye comfort */
}


/* Background color */
.bg-primary{
  background-color: #172130;
}
.bg-secondary{
  background-color: #303948;
}
/* Custom Shadow */
 .custom-Shadow {
  box-shadow: 0 10px 15px -3px rgba(52, 211, 153, 0.4),0 4px 6px -4px rgba(52, 211, 153, 0.4);
  transition: box-shadow 300ms ease;
}

.custom-Shadow:hover {
  box-shadow: 0 10px 15px -3px rgba(16, 185, 129, 0.6),0 4px 6px -4px rgba(16, 185, 129, 0.6);
}
/* Button Styling */
.btn-bs-success {
border: 1px solid #198654;
  color: #198654;
}
.btn-bs-success:hover {
  background-color: #198654;
  color: white;
}


.btn-outline-light {
  padding: 8px 16px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.btn-outline-light:hover {
  color: #0f0f0f;
  transform: translateY(-5px);
}

/* Button Gradient Effect */
.bg-gradient-primary {
  background: linear-gradient(45deg, #198754, #00c851);
}

.bg-gradient-primary:hover {
  background: linear-gradient(45deg, #00c851, #198754);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Animated Zoom In Effect */
.animate__animated.animate__zoomIn.animate__infinite {
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

/* Section styling ----=====-----*/
.section-title h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #dde1e8;
}
.section-title h1::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
.section-title h1::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: rgb(7, 185, 126);
  bottom: 0;
  left: calc(50% - 20px);
}



/* Image Circling Animation */
.rounding-image {
  object-fit: cover;
  transition: transform 0.3s;
}

.rounding-image:hover {
  transform: scale(1.1);
}
.rounding-container:hover .rounding-image {
  transform: rotate(360deg);
}

/* Advanced Circle Design */
.circle-design {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(135deg, #007bff, #6c757d);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  border: none;
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.circle-design:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}
/* Button Styling */

/* About Section */
